<!--*********************************************************************
FILE INFO
*************************************************************************
Name: menu.html
Purpose: The display info for the Menu Page
Tags: ion-header, ion-navbar, ion-title, ion-icon, h4, ion-list, ion-item
Description: This is the page that will show if the user does not have
  a default team selected and loading by default.
Note: None
Ng Commands: ngFor, click
Filters: favoriteTeamsFilter
Functions: openTeamLink, goToTeam, goToLandingPage, closeMenu
Last Update: 04/07/2017
*************************************************************************-->





<!--*********************************************************************
Name: ion-header
Purpose: Displays at top of page
Tags: ion-navbar, ion-title, ion-icon
Description: The header will contain the title of the page as well as a
  button to close the Menu and a button to go to the Landing Page
Note: None
Ng Commands: click
Filters: None
Functions: TBD
Last Update: 04/07/2017
*************************************************************************-->

<ion-header no-border hide-nav-bar="true">

  <ion-navbar>

    <ion-grid>
      
      <ion-row>
        
        <ion-col class="col-left" (click)="closeMenu()">
          
          <ion-icon item-left name="arrow-back"></ion-icon>
        
        </ion-col>

        <ion-col class="col-right" (click)="goToLandingPage()">
          
          <ion-icon item-left name="home"></ion-icon>
        
        </ion-col>
        
        </ion-row>
      
      </ion-grid>

  </ion-navbar>

    <!-- May want to take out of grid -->

<ion-toolbar class="custom-toolbar">

  <div class="banner">Menu</div>
  
</ion-toolbar>

</ion-header>





<!--*********************************************************************
Name: ion-content
Purpose: Displays at top of page
Tags: h4, ion-list, ion-item, ion-icon
Description: The content of this page consists of two sections. One section
  displays the teamLinks under the title 'Team Links. The second section
  will display the user's favorites under the title 'My Favorites'
Ng Commands: ngFor, click
Filters: favoriteTeamsFilter
Functions: openTeamLink, goToTeam, goToLandingPage, closeMenu
Note: None
Last Update: 04/07/2017
*************************************************************************-->

<ion-content padding>


<div class="spacer"></div>


<!-- Section for My Favorites --> 

  <h4>My Team</h4>

  <ion-list>

      <ion-item *ngFor="let item of availableTeams | myTeamFilter: 'true'" (click)="goToTeam(item)">
        
        {{ item.teamName }}
      
      </ion-item>

  </ion-list>





<!-- Section for My Favorites --> 

  <h4>My Favorites</h4>

  <ion-list>

      <ion-item *ngFor="let item of availableTeams | favoriteTeamsFilter: 'true'" (click)="goToTeam(item)">
        
        {{ item.teamName }}
      
      </ion-item>

  </ion-list>

</ion-content>


